Repository ekino/veggies: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm readme, git add ., pnpm run examples --tags @offline, pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

ci: fix linters steps
  .github/workflows/ci.yml
Due: none

chore: move assertions types to types central
  src/core/assertions.ts
  src/extensions/snapshot/extension.ts
  src/types.ts
Due: none

feat: remove chai, replace by node:assert
  examples/support/http_api/fixtures.steps.js
  package.json
  pnpm-lock.yaml
  src/@types/chai.d.ts
  src/core/assertions.ts
  src/core/custom_chai_assertions.js
  src/extensions/cli/definitions.ts
  src/extensions/file_system/definitions.ts
  src/extensions/http_api/definitions.ts
  tests/functional/support/http_api/fixtures.steps.js
Due: git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

ci: add build steps
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(docs): remove generated docs and gh pages
  .jsdoc.json
  doc/README.tpl.md
  package.json
  pnpm-lock.yaml
  scripts/generate_readme.js
Due: pnpm readme, git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

feat(time): remove luxon, write native date time typescript code
  package.json
  pnpm-lock.yaml
  src/core/assertions.ts
  src/utils/time.ts
Due: none

chore: fix tests func support files
  examples/support/definitions.js
  examples/support/http_api/fixtures.steps.js
  tests/functional/support/definitions.js
  tests/functional/support/http_api/fixtures.steps.js
Due: git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

test(core): convert test core to typescript and fix code
  src/core/assertions.ts
  tests/unit/core/assertions.test.js
  tests/unit/core/assertions.test.ts
  tests/unit/core/cast.test.ts
  tests/unit/core/custom_chai_assertions.test.js
  tests/unit/core/registry.test.js
  tests/unit/core/registry.test.ts
Due: git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

test(utils): convert utils test to typescript and fix code
  src/utils/index.ts
  tests/unit/utils/command_line.test.ts
  tests/unit/utils/index.test.ts
Due: none

test(state): convert extensions/state tests to typescript
  tests/unit/extensions/state/state.test.ts
Due: none

test(snapshot): convert tests to typescript
  src/extensions/snapshot/extension.ts
  src/extensions/snapshot/snapshot.ts
  src/types.ts
  tests/unit/extensions/snapshot/clean.test.js
  tests/unit/extensions/snapshot/clean.test.ts
  tests/unit/extensions/snapshot/cmd_options.test.js
  tests/unit/extensions/snapshot/cmd_options.test.ts
  tests/unit/extensions/snapshot/dedent.test.js
  tests/unit/extensions/snapshot/dedent.test.ts
  tests/unit/extensions/snapshot/extension.test.js
  tests/unit/extensions/snapshot/extension.test.ts
  tests/unit/extensions/snapshot/fixtures.js
  tests/unit/extensions/snapshot/fixtures.ts
  tests/unit/extensions/snapshot/fs.test.js
  tests/unit/extensions/snapshot/fs.test.ts
  tests/unit/extensions/snapshot/package.json
  tests/unit/extensions/snapshot/snapshot.test.js
  tests/unit/extensions/snapshot/snapshot.test.ts
  tests/unit/extensions/snapshot/statistics.test.js
  tests/unit/extensions/snapshot/statistics.test.ts
  vitest.config.js
Due: git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

test(http_api): convert http_api tests to typescript
  tests/unit/extensions/http_api/utils.test.ts
Due: none

test(fixtures): convert tests to typescript
  tests/unit/extensions/fixtures/fixtures_loader.test.js
  tests/unit/extensions/fixtures/fixtures_loader.test.ts
  tests/unit/extensions/fixtures/mocks/fixture.js
  tests/unit/extensions/fixtures/mocks/js/fixture.js
  tests/unit/extensions/fixtures/mocks/no_default_function.js
  tests/unit/extensions/fixtures/mocks/package.json
  tests/unit/extensions/snapshot/fs.test.ts
  tests/unit/extensions/snapshot/snapshot.test.ts
  tests/unit/extensions/snapshot/statistics.test.ts
Due: git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

test(coverage): disabe all options for coverage
  vitest.config.js
Due: git add ., pnpm run lint-fix, pnpm run fmt, jest --bail --findRelatedTests

docs: update README.md
  README.md
Due: none

test(uni): simplify throw error message
  tests/unit/core/assertions.test.ts
  tests/unit/extensions/snapshot/extension.test.ts
Due: none

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(tsconfig): set declarationMap true
  tsconfig.json
Due: none

ci: simplify create tag and bump version by using npm
  .github/workflows/release.yml
Due: none

chore(deps): use fixed version
  package.json
  pnpm-lock.yaml
Due: none

chore(tsconfig): clean tsconfigs options
  tsconfig.json
Due: none

chore: add check-typing command
  package.json
Due: none

chore(deps): use major version for dependencies field
  package.json
  pnpm-lock.yaml
Due: none

chore(changlog): add cliff changelog configurations
  cliff.toml
Due: none

fix(http_api): should return response when axios error
  src/extensions/http_api/client.ts
Due: none

fix(utils): fix method getValue
  src/types.ts
  src/utils/index.ts
  tests/unit/utils/index.test.ts
Due: none

fix(utils): fix method setValue for array[x] value
  src/utils/index.ts
  tests/unit/utils/index.test.ts
Due: none

fix(http_api): flexible path join for slash on baseUrl
  src/extensions/http_api/client.ts
Due: none

fix(assertions): fix type comparison
  src/core/assertions.ts
  src/utils/index.ts
  tests/unit/utils/index.test.ts
Due: none

fix(assertions): allow match undefined value for regex
  src/core/assertions.ts
Due: none

fix(utils): fix template, accept escape <key> template
  src/utils/index.ts
  tests/unit/utils/index.test.ts
Due: none

fix(utils): check correctly for obj["key"] case
  src/utils/index.ts
  tests/unit/utils/index.test.ts
Due: none

fix(utils): loose the comparison type for the match rule
  src/core/assertions.ts
Due: none

chore: still support nodejs 18 lts
  .github/workflows/ci.yml
  package.json
Due: none

test(unit): loose string comparison for multiplateform check
  tests/unit/core/assertions.test.ts
Due: none

chore(tsconfig): remove allowJs options
  tsconfig.json
Due: none

fix(utils): handle correctly base number index for setValue method
  src/utils/index.ts
Due: none

refactor(colors): write better for colors utils
  src/extensions/snapshot/snapshot.ts
  src/extensions/snapshot/statistics.ts
  src/utils/colors.ts
  tests/unit/extensions/snapshot/snapshot.test.ts
Due: none

refactor(utils): use name nullish, truthy correctly
  src/core/assertions.ts
  src/extensions/cli/cli.ts
  src/extensions/http_api/definitions.ts
  src/utils/index.ts
  tests/unit/utils/index.test.ts
Due: none

style: keep original format
  examples/features/cli/yarn.feature
  examples/features/http_api/cookies.feature
  examples/features/http_api/github.feature
  tests/functional/features/cli/__snapshots__/clean_snapshots.feature.snap
Due: pnpm run examples --tags @offline

Path conditions:
  pnpm readme: any of: README.tpl.md
  git add .: (any of: README.tpl.md) or (any of: *.js)
  pnpm run examples --tags @offline: any of: *.feature
  pnpm run lint-fix: any of: *.js
  pnpm run fmt: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
